<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Main | Travlendar + </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" type="text/css" href="./css/w3.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href='./css/fullcalendar.min.css' rel='stylesheet' />
<link href='./css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <link href="css/style.css" rel="stylesheet">
  <link href="./css/custom.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Regna
    Theme URL: https://bootstrapmade.com/regna-bootstrap-onepage-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body style="display: none;">

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!--<a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>-->
        <!-- Uncomment below if you prefer to use a text logo -->
        <h1 style="font-family: myTitle; color: white">Travlendar +</h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <div class="container dunno">
            <div class="row">
              <div class="col-md-2 col-xs-2 col-sm-2" >
                <img src="img/profile.png" width="40%" style="padding-bottom: 10px;"><br>
                <span style="color: white;font-weight: bold">Nome Cognome</span>
                <hr style="border: 1px solid white;">
              </div>
            </div>
          </div>
          <li class="menu-active"><a href="main.html">Schedules</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="ticket.html">Tickets</a></li>
          <li><a href="weather.html">Weather</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" style="height: 90px; background: rgb(56,142,60);">

  </section><!-- #hero -->

  <main id="main">

    <section id="about" style="padding: 20px; min-height: 80vh">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-3 col-sm-3" style="padding-bottom: 20px;">
            <h3 style="color: darkgreen">Single Ticket</h3><hr style="border: 1px solid darkgreen">
            <img src="img/ticket1.png" width="100%"><br>
            <button class="w3-green w3-button" style="width: 100%; margin-top: 5vh">Buy single ticket</button>
          </div>
          <div class="col-md-3 col-xs-3 col-sm-3">
            <h3 style="color: darkgreen">Subscription</h3><hr style="border: 1px solid darkgreen">
            <img src="img/ticket2.png" width="100%"><br>
            <button class="w3-green w3-button" style="width: 100%; margin-top: 5vh">Buy subscription</button>
          </div>
        </div>

      </div>
    </section><!-- #about -->    

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src='./js/moment.min.js'></script>
<script src="lib/jquery/jquery.min.js"></script>
<script src='./js/fullcalendar.js'></script>
<!-- Funzione che mostra e nasconde le cose in base al fatto se è mobile 
  oppure no -->


</body>
</html>
